<div class="carousel-holder">

<div class="slideshow-callout fade-in"><h2>The most <br>
      beautiful <br>
      Airbnb in D.C.</h2>
      <h3 class="attrib">&mdash;Architectural Digest</h3>
</div>

<div class="main-carousel">
  <div class="carousel-cell"><img src="images/front-door.jpg"></div>
  <div class="carousel-cell"><img src="images/foyer.jpg"></div>
  <div class="carousel-cell"><img src="images/kitchen.jpg"></div>
  <div class="carousel-cell"><img src="images/dining.jpg"></div>
   <div class="carousel-cell"><img src="images/kitchen02.jpg"></div>
   <div class="carousel-cell"><img src="images/livingroom01.jpg"></div>
   <div class="carousel-cell"><img src="images/rooftop01.jpg"></div>
   <div class="carousel-cell"><img src="images/upstairs.jpg"></div>
   <div class="carousel-cell"><img src="images/kitchen04.jpg"></div>
   <div class="carousel-cell"><img src="images/patio.jpg"></div>
   <div class="carousel-cell"><img src="images/bedroom01.jpg"></div>
   <div class="carousel-cell"><img src="images/bathroom01.jpg"></div>
   <div class="carousel-cell"><img src="images/kitchen03.jpg"></div>
   <div class="carousel-cell"><img src="images/bedroom03.jpg"></div>

</div>

</div> <!-- end carousel-holder -->