<footer id="colophon">

	<h2 class="site-id"><a href="{{site.url}}">{{ site.title }}</a></h2>

	<a class="reserve" href="https://www.airbnb.com/rooms/13926632?guests=1&adults=1&sl_alternate_dates_exclusion=true&source_impression_id=p3_1559487073_Q6bmFEKNjAeOu1ns&check_in=&check_out=&children=0&infants=0">Reserve Now</a>&nbsp; <span style="color: gray">|</span> &nbsp;
	<a class="reserve" href="mailto:jhamptonhill@gmail.com">Email Us</a>
	

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Leaflet -->
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

  <script src="flickity-docs/flickity.pkgd.min.js"></script>


<script type="text/javascript">
	  $('.main-carousel').flickity({
	  // options
	  cellAlign: 'left',
	  contain: true,
	  wrapAround: true,
	   autoPlay: true, 
	  percentPosition: true,
	  fullscreen: true
	});
</script>

 <script type="text/javascript">
 	var mymap = L.map('mapid').setView([38.912059, -77.066626], 14);

 	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiZ3JhbnRjb3JsZXkiLCJhIjoiY2p3NnF3bm5hMWRocTRhbzNnaGh6YmZkOSJ9.gcTXYVlFzV2xzQwxDfLV7Q'
}).addTo(mymap);





 </script>

 <script type="text/javascript" src="assets/scripts.js"></script>


 </footer> 

