---
title: "home"
---

<html>

  {% include head.html %}

  <body>



      {% include header.html %}



<div class="callout">

<div class="arch-dig fade-in"><h2>"The most beautiful<br>
Airbnb in D.C."</h2>
      <h3 class="attrib">&mdash;Architectural Digest</h3>
</div>


<p>Don't miss this unique opportunity to share a charming home in Washingon D.C.'s historic Georgetown neighborhood. Stunningly remodeled, including your guest room and private bath. Full access to house, with special extras: rooftop deck, sauna, office, yoga studio, shady backyard garden. Easy access to the Metro. Walk to Dupont Circle, Embassy Row, & shops, restaurants and bars/nightclubs.</p>

<button type="button" class="reserve btn btn-lg btn-warning">Reserve Now</button>

</div>


      <div class="container">

     

<article class="flex-parent">

<!-- row #1 -->  
<div class="column column-01">

<aside class="archDig">
  <a href="https://www.architecturaldigest.com/gallery/most-beautiful-airbnb-in-every-state">
<img class="img-fluid" src="images/archDigest.jpg">
</a>
</aside>
<figure>As <a href="https://www.architecturaldigest.com/gallery/most-beautiful-airbnb-in-every-state">featured in</a> Architectural Digest</figure>

<h2>The space</h2>
<p>This historic four-story townhouse boasts a newly remodeled and fully equipped kitchen (with fireplace!), dining room, living room with high ceilings and second fireplace.</p>

<p>Powder room off entry and third full bathroom on top floor. Washer and dryer on entry level.</p>

<p>There are two outdoor spaces: a beautifully landscaped backyard garden with dining table and grill and a rooftop deck. Top floor features NIR sauna and yoga studio.</p>

<p>Hardwood floors throughout (except tiled entryway and baths) and lots of natural light and windows that overlook trees.</p>

<h2>Guest access</h2>
<p>This completely remodeled home has 4 stories of space to enjoy when staying here for your visit in the DC area.</p>


</div> <!-- end column -->

<!-- row #2 --> 
<div class="column column-02">

<h2>Private bedroom</h2>
<p>Guests have their own private room with keyed lock and includes:</p>

<ul>
  <li>queen bed with high quality bed linens/blankets</li> 
  <li>ceiling fan</li>
  <li>personal in-room desk area</li>
  <li>private closet with hamper and ample clothes hangers</li>
  <li>luggage rack, and full-length mirror</li>
</ul>

<p>Adjacent to the guest room is a completely remodeled marble bathroom, just for use by Airbnb guests, furnished with plush towels from Restoration Hardware and hair dryer. Bedroom and bathroom are on the third story of the home.</p>

<h2>Shared spaces</h2>
<p>Many other shared areas are accessible to our guests, including</p>

<ul>
<li>rooftop deck</li>
<li>sauna</li>
<li>yoga studio</li>
<li>separate office space with printer</li>
<li>stunning designer gourmet kitchen/dining room</li>
</ul>

<h2>Parking</h2>
<p>A dedicated parking spot is usually available for a fee; please inquire to confirm.</p>

<p>With advance notice we can provide a (free) temporary parking pass for your car. Parking is at a premium in Georgetown and most available spots are only for 2 hours.</p>

<h2>Interaction with guests</h2>
<p>Privacy is important to all in the house. This rowhouse has 4 bedrooms, 4.5 baths. You will be sharing the home with Airbnb guest(s) in another room and the host, who may be home at times for company, but in general you should plan to interact as much or as little as you prefer. The house is large enough for all to spread out for private time, if desired.</p>

<p>Host available by phone and text/messaging.</p>
</div> <!-- end column -->


</div> <!-- end article flex-parent -->


      </div><!--end container-->

<div id="mapid"></div>

   <!--  </div> -->

    {% include footer.html %}

  </body>
